<div class="logo">
  <div class="text-center">
    {{#link-to "index"}}
      <img src="assets/images/logo.png">
    {{/link-to}}
  </div>
</div>

<div class="text-center">
  <h1>"Room Renting Has Never Been Easier."</h1>
</div>

{{yield}}
