{{#link-to "index"}}
  <img src="assets/images/logo.png" class="center-block img-responsive">
{{/link-to}}

<div class="spacer-md"></div>

<div class="text-center">
  <h1>"ROOM RENTING'S NEVER BEEN EASIER"</h1>
</div>

{{yield}}
