<div class="logo">
  {{#link-to "index"}}
    <img src="assets/images/logo.png" class="center-block img-responsive">
  {{/link-to}}
</div>

<div class="text-center">
  <h1>"Room Renting Has Never Been Easier."</h1>
</div>

{{yield}}
