@import "variables";

@import "routes/index";
@import "routes/i_have_a_room";
@import "components/logo_main";

// Global app-wide styles
.spacer-sm {
  height: 10px;
}

.spacer-md {
  height: 25px;
}

.spacer-lg {
  height: 50px;
}

html .ember-application {
  background: url("images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// Import other third-party libraries as necessary
// @import "bootstrap/theme";
@import "bootstrap";
@import url("//fonts.googleapis.com/css?family=Seaweed+Script");
