@import "bootstrap";
// Import other libraries as necessary
// @import "bootstrap/theme";

@import "variables";
// @import "components/";

// Global app-wide styles
.spacer-sm {
  height: 10px;
}

.spacer-md {
  height: 25px;
}

.spacer-lg {
  height: 50px;
}
