<div id="how-it-works" class="row">
  <div class="col-sm-6">
    <h2 class="text-center">Landlords/Primary Tenant</h2>
    <p><strong>Why rent your room through RentiRooms?</strong></p>

    <p>
      Rentirooms will screen, interview and run background checks on all prospective tenants, assuring you that the prospective roommate/tenant will be a responsible person.
    </p>

    <p>
      With the criteria that you set forth we will make sure that your next roommate is a perfect match.
    </p>

    <p>
      We provide the landlord the option to rent your rooms either weekly or monthly.
    </p>

    <p>
      However, we recommend weekly. It is a convenient way to rent your room and earn extra cash. It also allows you to try out your tenant. If you are not satisfied, Rentirooms will transfer tenants to a different room.
    </p>
  </div>
  <div class="col-sm-6">
    <h2 class="text-center">Room Seekers</h2>
    <p><strong>Why rent through RentiRooms?</strong></p>

    <p>
      Rentirooms is the fastest growing room rental referring agency. You could choose from a large variety of rooms at your liking and location. Rooms may include phone, Internet, cable, and Wi-Fi. As well as their own personal bathroom.
    </p>
  </div>
</div>
