<div class="spacer-md"></div>

<div class="text-center">
  <h1>"ROOM RENTING'S NEVER BEEN EASIER"</h1>
</div>

<div class="spacer-md"></div>

<div class="btn-group btn-group-justified" role="group" aria-label="">
  <a type="button" class="btn btn-default">I need a room!</a>
  <a type="button" class="btn btn-default">I have a room!</a>
  <a type="button" class="btn btn-default">How it works</a>
</div>
