<div id="index">
  <div class="spacer-md"></div>

  <div class="btn-group btn-group-justified" role="group" aria-label="">
    <a type="button" class="btn btn-default">I need a room!</a>
    {{link-to "I have a room!" "i-have-a-room" type="button" class="btn btn-default"}}
    <a type="button" class="btn btn-default">How it works</a>
  </div>  
</div>
